body {
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: black;
  background-image: radial-gradient(ellipse at bottom, rgba(254, 177, 255, 0.8) 0%, transparent 50%);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
  flex-direction: column;
  gap: 30px;
}

#status {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 40px;
}